# Базовая конфигурация для всех проектов
# Общие параметры, которые наследуются всеми проектами

V8_VERSION=8.5.1.1522
V8_EDT_VERSION=2025.2.3
V8_TOOL="C:\Program Files\1cv8\8.5.1.1522\bin\1cv8.exe"
EDTCLI_TOOL="ВашПутьКУстановленномуEDT\1C_EDT 2026.1\1cedt\1cedtcli.exe"
V8_TEMP="ПутьКВременнымФайла\tempConvertKit"
V8_DP_CLEAN_DST=1
V8_TEMP_AFTER_CLEAN=1
V8_IB_UPDATE=0
